---
layout: default
permalink: /
---

<div class="title-bar high">
  <div class="col-1 large-text">Hello, I am<br/>Hao Liu</div>
  <div class="col-1"></div>
  <div class="col-2 medium-text">I create apps, by designing and coding from sketch.</div>
</div>
<div class="grid-space">
  {% for p in site.posts %}
    {% if p.category == 'project' %}
      <a class="grid-link" href="{{ p.url }}" style="background-color: #{{ p.bgcolor }}">
        <img class="grid-image {{ p.imagesize }}" src="/images/{{ p.image }}" />
        <div class="grid-cell">
          <div class="grid-title">{{ p.title }}</div>
          <div class="grid-subtitle">{{ p.subtitle }}</div>
        </div>
      </a>
    {% endif %}
  {% endfor %}
</div>

<div class="title-bar">
  <div class="col-1 large-text">Open source projects</div>
  <div class="col-1 small-text">Also I have some free resources</div>
</div>
<div class="grid-space">
  {% for p in site.posts %}
    {% if p.category == 'opensource' %}
      <a class="grid-link" href="{{ p.url }}" style="background-color: #{{ p.bgcolor }}">
        <img class="grid-image {{ p.imagesize }}" src="/images/{{ p.image }}" />
        <div class="grid-cell">
          <div class="grid-title">{{ p.title }}</div>
          <div class="grid-subtitle">{{ p.subtitle }}</div>
        </div>
      </a>
    {% endif %}
  {% endfor %}
</div>

<div class="title-bar">
  <div class="col-1 large-text">I write blog</div>
  <div class="col-2"></div>
  <div class="col-1 small-text">Available in <a href="/cn.html">中文</a></div>
</div>
<div class="list-space">
  {% for p in site.posts %}
    {% if p.category == 'English' %}
      <div class="list-item">
        <div class="col-1 small-text date">
          {{ p.date | date: '%m/%Y' }}
        </div>
        <div class="col-2 medium-text"> 
          <a href="{{ p.url }}">{{ p.title }}</a>
        </div>
        <div class="col-1">
          {% for t in p.tags %}
            <span class="tag">{{ t }}</span>
          {% endfor %}
        </div>
      </div>
    {% endif %}
  {% endfor %}
</div>
