<div class="title-bar high">
  <div class="col-1 large-text">
    <div>
      <a href="/">Hao Liu</a>
    </div>
    <div class="social-link-box">
      <a href="mailto:liuhao1990@gmail.com" class="fa fa-envelope"></a>
      <a href="https://github.com/fuermosi777" class="fa fa-github-alt"></a>
      <a href="https://www.linkedin.com/in/haoliu1990" class="fa fa-linkedin-square"></a>
      <a href="/feed.xml" class="fa fa-rss"></a>
    </div>
  </div>
  <div class="col-1 medium-text">
    <p><strong>CURRENTLY</strong></p>
    <p>Software Engineer at <a href="http://www.yahoo.com">Yahoo!</a></p>
  </div>
  <div class="col-1 medium-text">
    <p><strong>PREVIOUSLY</strong></p>
    <p><del>Full Stack Engineer at <a href="http://www.prosper.com">Prosper Marketplace</a></del></p>
  </div>
  <div class="col-1 medium-text">
    <p><strong>PREVIOUSLY</strong></p>
    <p><del>Front End Engineer at <a href="http://www.prosper.com/daily">BillGuard</a> (Acquired by Prosper)</del></p>
  </div>
</div>
