<div class="divider">
  <div class="col-1"></div>
  <div class="col-1"></div>
  <div class="col-1"></div>
  <div class="col-1"></div>
</div>

<div class="title-bar profile">
  <div class="col-1 large-text">
    <div>
      <a href="/">Hao Liu</a>
    </div>
    <div class="social-link-box">
      <a href="mailto:liuhao1990@gmail.com">
        <img src="/images/icons/mail.svg" />
      </a>
      <a href="https://github.com/fuermosi777">
        <img src="/images/icons/github.svg" />
      </a>
      <a href="https://www.linkedin.com/in/haoliu1990">
        <img src="/images/icons/user.svg" />
      </a>
      <a href="/feed.xml">
        <img src="/images/icons/bookmark.svg" />
      </a>
    </div>
  </div>
  <div class="col-1 medium-text work">
    <p class="f-s-mini"><strong>Currently</strong></p>
    <p>Software Engineer at <a href="http://www.yahoo.com">Yahoo!</a></p>
  </div>
  <div class="col-1 medium-text dimed-text work">
    <p class="f-s-mini"><strong>Previously</strong></p>
    <p><del>Full Stack Engineer at <a href="http://www.prosper.com">Prosper Marketplace</a></del></p>
  </div>
  <div class="col-1 medium-text dimed-text work">
    <p class="f-s-mini"><strong>Previously</strong></p>
    <p><del>Front End Engineer at <a href="http://www.prosper.com/daily">BillGuard</a> (Acquired by Prosper)</del></p>
  </div>
</div>
