<div class="About">
    <div class="box">
        <img src="/images/hao.jpg" class="avatar" />
        <div class="name">Hao Liu</div>
        <div class="job">
            <div class="item">
                <div class="meta">Currently</div>
                <div class="position">Full Stack Engineer at <a href="http://www.prosper.com">Prosper</a></div>
            </div>
            <div class="item delete">
                <div class="meta">Previously</div>
                <div class="position">Front End Engineer at <a href="http://www.billguard.com">BillGuard</a> (Acquired)</div>
            </div>
        </div>
        <div class="contact">
            <a href="mailto:liuhao1990@gmail.com" class="fa fa-envelope"></a>
            <a href="https://github.com/fuermosi777" class="fa fa-github-alt"></a>
            <a href="https://www.linkedin.com/in/haoliu1990" class="fa fa-linkedin-square"></a>
            <a href="/feed.xml" class="fa fa-rss"></a>
        </div>
    </div>
</div>
