* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif !important;
    font-weight: 300;
    line-height: 1.6;
    letter-spacing: 0.04rem;
    margin: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

ul,
li {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

a:active,
a:hover {
    outline: 0;
}

.post-list {
    padding: 0 15px;
    .item {
        font-size: 1.4rem;
        margin-bottom: 6px;
        display: flex;
        .date {
            color: $color-gray;
            display: inline-block;
            margin-right: 20px;
        }
        .title {
            display: inline-block;
            a {
                color: $color-darkgray;
                &:hover {
                    color: $color-blue;
                }
            }
        }
        .tag {
            span {
                margin-left: 10px;
                background-color: #2d89ef;
                color: white;
                font-size: 1.2rem;
                border-radius: 2px;
                padding: 2px 5px;

            }
        }
    }
}

.project-list {
    .item:hover {
        .bg {
            transform: scale(0.95);
            img {
                transform: scale(1.1);
            }
        }
    }
    @media (max-width: 768px) {
        padding: 0 10px;
    }
    .item {
        width: 32%;
        display: inline-block;
        vertical-align: top;
        padding: 5px;
        margin-bottom: 5px;
        @media (max-width: 768px) {
            width: 49%;
        }
        @media (max-width: 420px) {
            width: 100%;
        }
        .bg {
            width: 100%;
            transition: all 0.2s;
            position: relative;
            height: 165px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 3px;
            img {
                transition: all 0.1s;
                display: block;
                &.small {
                    height: 80px;
                }
                &.big {
                    height: 110px;
                }
            }
            &.gray {
                background-color: #BBBABD;
                border: 1px solid #ACA9AF;
            }
            &.blue {
                background-color: #C9E4EE;
                border: 1px solid #BDDEE9;
            }
            &.lemon {
                background-color: #FAF8D0;
                border: 1px solid #F1F0C9;
            }
            &.oysterpink {
                background-color: #F4DAD5;
                border: 1px solid #EECEC8;
            }
            &.white {
                background-color: #F9FAFB;
                border: 1px solid #EBEFF2;
            }
            &.foam {
                background-color: #D9F6F7;
                border: 1px solid #C4F0F0;
            }
            &.yellow {
                background-color: #F8F3D8;
                border: 1px solid #F0EAD1;
            }
            &.grayblue {
                background-color: #E6EDF5;
                border: 1px solid #DEE7F0;
            }
            &.darkblue {
                background-color: #D0E0F4;
                border: 1px solid #C1D6EE;
            }
            &.purple {
                background-color: #D2B7E8;
                border: 1px solid #C6A6DE;
            }
            &.orange {
                background-color: #FBE1D1;
                border: 1px solid #F2D9CA;
            }
        }
    }
}
