* {
    box-sizing: border-box;
    -webkit-backface-visibility: hidden;
}

html {
    font-size: 62.5%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
}

body {
    font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif !important;
    font-weight: 300;
    line-height: 1.6;
    letter-spacing: 0.04rem;
    margin: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

ul,
li {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

a:active,
a:hover {
    outline: 0;
}
