$tablet-width: 900px;
$mobile-width: 480px;

@mixin tablet {
  @media (min-width: #{$mobile-width + 1px}) and (max-width: #{$tablet-width}) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: #{$mobile-width}) {
    @content;
  }
}

a {
  color: #5c9cf5;
  &:hover {
    text-decoration: underline;
  }
}

.main-content {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 15px;
}

.large-text {
  line-height: 1.4;
  color: #515151;
  font-size: 24px;
  letter-spacing: 0px;
}

.medium-text {
  color: #515151;
  font-size: 16px;
  line-height: 1.4;
  letter-spacing: 0px;
}

.page-text {
  color: rgba(81, 81, 81, 0.8);
  font-size: 16px;
  counter-reset: h2;

  p {
    margin-bottom: 20px;
  }

  li {
    margin-bottom: 10px;
    p {
      margin-bottom: 10px;
    }
  }

  li > ul {
    margin-top: 10px;
  }

  h2 {
    margin-top: 30px;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 20px;
    counter-reset: h3;
    &:before {
      counter-increment: h2;
      content: counter(h2) ". ";
    }
  }

  h3 {
    font-size: 16px;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 10px;
    &:before {
      counter-increment: h3;
      content: counter(h2) "." counter(h3) " ";
    }
  }

  ul,
  ol {
    padding-left: 30px;
  }

  blockquote {
    background-color: #f4f6fd;
    margin: 20px 0;
    padding: 15px 15px 1px;
    border-radius: 4px;
  }

  pre {
    padding: 15px 20px;
    background: #f4f6fd;
    border-radius: 3px;
    overflow: auto;
    margin: 15px 0 20px;
  }

  code {
    font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
    border-radius: 2px;
    margin: 0 1px;
    padding: 2px 4px;
    background: #f4f6fd;
  }

  h1 > code,
  h2 > code,
  h3 > code,
  h4 > code,
  h5 > code,
  h6 > code,
  p > code,
  a > code,
  ul > code,
  li > code {
    color: #a626a4;
  }

  pre code {
    background: transparent;
  }

  img {
    display: block;
    margin: 20px auto;
    text-align: center;
    max-width: 100%;
  }

  kbd {
    padding: 3px 5px;
    font: 12px "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
    line-height: 10px;
    color: #70768a;
    vertical-align: middle;
    background-color: #fafbfc;
    border: solid 1px #EBEEF9;
    border-bottom-color: #d3d6e0;
    border-radius: 3px;
    box-shadow: inset 0 -1px 0 #d3d6e0;
  }

  table {
    border-collapse: collapse;
    margin-bottom: 20px;

    tr:not(:last-child) {
      border-bottom: 1px solid rgba(0,0,0,0.1);
    }

    td {
      padding: 2px 8px;
    }
    td:not(:last-child) {
      border-right: 1px solid rgba(0,0,0,0.1);
    }
  }
}

.page-title {
  font-size: 24px;
  margin-bottom: 3vw;
  color: rgba(81,81,81,0.9);
}

.page-date {
  color: rgba(81, 81, 81, 0.4);
  margin-bottom: 40px;
}

.small-text {
  color: rgba(81,81,81,0.4);
  font-size: 14px;
}

.layout-header {
  padding: 40px 0;
  .layout-title {
    a {
      color: #515151;
    }
  }
  .layout-menu {
    padding-top: 20px;
    a {
      color: #515151;
      font-style: italic;
      margin-right: 10px;
    }
  }
}


a.button {
  padding: 8px 12px;
  min-width: 70px;
  box-shadow: 0 0 2px 0 rgba(0,0,0,0.1), 0 2px 2px 0 rgba(0,0,0,0.1);
  font-size: 15px;
  color: white;
  border-radius: 8px;
  position: relative;
  transition: all 0.2s;
  display: inline-block;
  margin-bottom: 10px;
  
  &.block {
    display: block;
    text-align: center;
  }
  &:hover {
    text-decoration: none;
    opacity: 0.8;
    transform: translateY(-1px);
  }
  &:focus {
    transform: translateY(1px);
  }
}

#markdown-toc {
  border: 1px solid #E5E5E5;
  border-radius: 3px;
  padding: 10px;
  padding-left: 15px;
  margin-bottom: 20px;
  counter-reset: section;
  background-color: #F8F9F9;

  ul {
    padding-left: 15px;
    counter-reset: section;
  }

  ul, li {
    list-style-type: none;
  }

  li {
    &:before {
      content: counters(section, ".") " ";
      counter-increment: section;
    }
  }
}
