.Post {
    max-width: 730px;
    margin: 20px auto;
    padding: 40px;
    background: white;
    border: 1px solid #EAECEE;
    border-radius: 4px;
    @media (max-width: 420px) {
        padding: 20px;
    }

    h1 {
        font-size: 2.8rem;
        color: $color-darkgray;
        line-height: 1.6;
        font-weight: 300;
    }

    .post-content {
        font-size: 1.4rem;
        color: $color-darkgray;

        h2 {
            padding-top: 4rem;
            margin-bottom: 1rem;
            font-size: 2rem;
            line-height: 1.4;
            font-weight: 300;
        }

        h3 {
            font-size: 1.8rem;
            line-height: 1.25;
            padding-top: 2rem;
            padding-bottom: 0.5rem;
            border-bottom: 1px solid #d6d6d6;
            margin: 0 0 1.2rem;
        }

        p {
            padding-top: 2rem;
            line-height: 1.6;
            color: $color-lightgray;
        }

        hr {
            background-color: #f4f6f7;
            height: 2px;
            border: 0;
        }

        a {
            color: $color-blue;

            &:hover {
                text-decoration: underline;
            }
        }

        blockquote {
            background-color: #F7F8F9;
            margin: 30px 0 0;
            padding: 15px;
            border-radius: 4px;

            p {
                padding: 0;
            }
        }

        pre {
            font-size: 1.3rem;
            padding: 15px 20px;
            background: #F5F7F9;
            border-radius: 4px;
            overflow: auto;
            margin: 15px 0 20px;
        }

        code {
            font-family: 'Source Code Pro', monospace;
            border-radius: 2px;
            font-size: 1.4rem;
            color: #0d2b3e;
            margin: 0 1px;
            padding: 3px 6px;
            background: #F5F7F7;
        }

        pre code {
            font-size: 1rem;
            background: transparent;
        }

        ol,
        ul {
            margin-top: 20px;
            padding: 0;
            p {
                padding: 0;
            }
            ol,
            ul {
                margin-top: 0;
            }

            li {
                margin: 8px 0;
                padding-left: 30px;
                line-height: 1.4;
                list-style: none;
                position: relative;

                &:before {
                    content: "";
                    position: absolute;
                    width: 6px;
                    height: 6px;
                    left: 10px;
                    top: 9px;
                    border-radius: 50%;
                    background: #939da3;
                }
            }
        }

        img {
            max-width: 80%;
            display: block;
            margin: 0 auto 20px;
            text-align: center;
        }
    }
}
