.Project {
    height: 300px;
    width: 100%;
    position: relative;
    overflow-y: hidden;
    img {
        display: block;
        margin: 120px auto 0;
        transition: all 0.1s;
        &:hover {
            transform: scale(1.05);
        }
        &.small {
            height: 80px;
        }
        &.big {
            height: 110px;
        }
    }
    &.gray {
        background-color: #BBBABD;
        border-bottom: 1px solid #ACA9AF;
    }
    &.blue {
        background-color: #C9E4EE;
        border-bottom: 1px solid #BDDEE9;
    }
    &.lemon {
        background-color: #FAF8D0;
        border-bottom: 1px solid #F1F0C9;
    }
    &.oysterpink {
        background-color: #F4DAD5;
        border-bottom: 1px solid #EECEC8;
    }
    &.white {
        background-color: #F9FAFB;
        border-bottom: 1px solid #EBEFF2;
    }
    &.foam {
        background-color: #D9F6F7;
        border-bottom: 1px solid #C4F0F0;
    }
    &.yellow {
        background-color: #F8F3D8;
        border-bottom: 1px solid #F0EAD1;
    }
    &.grayblue {
        background-color: #E6EDF5;
        border-bottom: 1px solid #DEE7F0;
    }
    &.darkblue {
        background-color: #D0E0F4;
        border-bottom: 1px solid #C1D6EE;
    }
    &.purple {
        background-color: #D2B7E8;
        border-bottom: 1px solid #C6A6DE;
    }
    &.orange {
        background-color: #FBE1D1;
        border-bottom: 1px solid #F2D9CA;
    }
    &.greenblue {
        background-color: #CAEAED;
        border-bottom: 1px solid #C0E0E3;
    }
}
