---
layout: default
---

<div class="main-content">
  <div class="page-title">{{ page.title }}</div>
  <div class="medium-text page-date">{{ page.date | date: "%B %-d %Y" }}</div>
  <div class="page-text">{{ content }}</div>
</div>

<div id="cusdis_thread"
  data-host="https://cusdis.com"
  data-app-id="1a77170a-ba75-4165-93b5-a3055bb9ec8f"
  data-page-id="{{ page.id }}"
  data-page-url="{{ page.url }}"
  data-page-title="{{ page.title }}"
></div>
<script async defer src="https://cusdis.com/js/cusdis.es.js"></script>