---
layout: default
---
{% include layout-header.html %}

<div class="project-title-bar">
  <div class="project-title-bar-bg" style="background-color: #{{ page.bgcolor }};"></div>
  <div class="main-content">
    <div class="col-1" style="background-color: #{{ page.bgcolor }};">
      <div class="image-box">
        <img src="/images/{{ page.image }}" />
      </div>
    </div>
    <div class="col-1" style="background-color: #{{ page.bgcolor }};"></div>
    <div class="col-1" style="background-color: #{{ page.bgcolor }};"></div>
    <div class="col-1" style="background-color: #{{ page.bgcolor }};"></div>
  </div>
</div>

<div class="main-content">
  <div class="project-bar">
    <div class="col-1 project-title">
      {{ page.title }}
    </div>
    <div class="col-2 medium-text project-desc">
      {{ page.description }}
    </div>
    <div class="col-1">
      {% if page.downloadlink %}
        <a class="button block" href="{{ page.downloadlink }}" style="background-color: #{{ page.color }};">{{ page.downloadlabel }}</a>
      {% endif %}
      {% if page.website %}
      <a class="button block" href="{{ page.website }}" style="background-color: #{{ page.color }};">Website</a>
      {% endif %}
    </div>
  </div>
  <div class="page-text">
    {{ content }}
  </div>
</div>
